/* 全局样式重置 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; */
  /* background-color: #f4f4f4; */
  /* color: #333; */
  color: #ddd9d9;
  overflow: hidden;
}



#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titlebar-container {
  height: 35px;
  background: #181818;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2B2B2B;
  app-region: drag;
}

.titlebar-container .titlebar-left {
  flex: 0.5 0 0;
  height: 100%;
  /* background: #ca7474; */
}

.titlebar-container .titlebar-center {
  flex: 1 0 0;
  height: 100%;
  /* background: #0c706e; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-with-icon {
  display: flex;
  align-items: center;
  gap: 6px; /* 控制输入框和图标的间距 */
  margin: auto; /* 居中 */
}

.input-with-icon input {
  app-region: no-drag;
  width: 180px;
  height: 26px;
  text-align: center;
}

/* .input-with-icon .icon,
.titlebar-right .icon {
  app-region: no-drag;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px;
  background-color: transparent;
} */

/* .input-with-icon .icon:hover,
.titlebar-right .icon:hover {
  background-color: #2E2E30;
} */

.icon-btn {
  app-region: no-drag;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn:hover {
  background-color: #2E2E30;
}




input {
  width: 100%;
  padding: 8px 12px;
  font-size: 12px;
  color: #ddd;
  background-color: #1e1e1e;
  border: 1px solid #666;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  pointer-events: all;
}

input::placeholder{
  color: #888;
}

input:focus {
  border-color: #007acc;
  /* VS Code 风格蓝 */
  box-shadow: 0 0 0 1px rgba(0, 122, 204, 0.2);
}

input[disabled] {
  background-color: #2a2a2a;
  color: #777;
  cursor: not-allowed;
}


.titlebar-container .titlebar-right {
  flex: 1.5 0 0;
  height: 100%;
  /* background: #4a25ce; */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6px;
}

#toolbar {
  height: 20px;
}

/*当前颜色信息条*/
#current-color {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  /* margin: 4px; */
  padding-left: 4px;
  background: #181818;
  /* color: #CCCCCC; */
  font-family: monospace;
  font-size: 12px;
}

#color-swatch {
  width: 15px;
  height: 15px;
  background-color: transparent;
}

/* 主体容器 */
#main {
  display: flex;
  flex-grow: 1;
}




#main-left {
  flex: 7;
  display: flex;
  background-color: #181818;
  flex-direction: column;
  /* 垂直排列 tab-bar 和 tab-panels */
}

/* 顶部 tab 栏容器 */
#tab-bar {
  display: flex;
  height: 28px;
  flex-shrink: 0;
  /* 防止被压缩 */
  background-color: #2d2d2d;
  /* gap: 4px; */
  align-items: center;
  border-bottom: 1px solid #1a1a1a;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  white-space: nowrap;
}

#tab-bar::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari/Webkit */
}

/* 单个 tab 按钮 */
.tab-button {
  position: relative;
  padding: 6px 14px;
  background-color: transparent;
  /* color: #bbb; */
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}

/* 鼠标悬停效果 */
.tab-button:not(.active):hover {
  background-color: #3a3a3a;
  color: #fff;
}

/* 活动 tab */
.tab-button.active {
  background-color: #1e1e1e;
  color: #fff;
}

/* 顶部蓝色条：使用伪元素模拟 */
.tab-button.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #007acc;
}

/* 图片展示区域 */
#tab-panels {
  flex: 1;
  overflow: auto;
  margin: 10px;
}

.tab {
  position: relative;
  display: none;
}

.tab.active {
  display: block;
}

/* 每张图片的容器 */
.image-canvas {
  position: absolute;
  outline: none;
}




#main-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  background: #2d2d2d;
  border-left: 1px solid #1e1e1e;
}

#tab-buttons {
  height: 28px;
  border-bottom: 1px solid #1a1a1a;
  display: flex;
  gap: 0;
}

/* 可选：按钮高亮样式 */
#tab-buttons .tab-btn {
  position: relative;
  height: 100%;
  background: transparent;
  font-size: 12px;
  color: #ccc;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
  border-top: 2px solid transparent;
}

#tab-buttons .tab-btn.active {
  background: #1e1e1e;
  color: #fff;
  border-top: 2px solid #007acc;
}

#tab-buttons .tab-btn:not(.active):hover {
  background-color: #3a3a3a;
  color: #fff;
}


.tab-btn-wrapper {
  position: relative;
}

.tab-btn-wrapper .tab-badge {
  position: absolute;
  top: 2px;
  right: 2px;
  min-width: 16px;
  padding: 1px 5px;
  font-size: 11px;
  background-color: red;
  color: white;
  border-radius: 10px;
  line-height: 1;
  text-align: center;
  pointer-events: none;
  display: none;
  z-index: 2;
  transform: translate(50%, -50%);
}


/* .tab-badge {
  position: absolute;
  top: 4px;
  right: 6px;
  min-width: 16px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1;
  background-color: red;
  color: white;
  border-radius: 8px;
  text-align: center;
  pointer-events: none;
  display: none;
} */


#tab-contents {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: auto;
}

/* 公共 tab 样式 */
#tab-contents .tab-content {
  position: absolute;
  inset: 0;
  /* 等价于 top:0; right:0; bottom:0; left:0 */
  visibility: hidden;
  padding: 8px;
  overflow-y: auto;
  font-size: 12px;
}

/* 激活状态的 tab */
#tab-contents .tab-content.active {
  visibility: visible;
}

/* 右侧颜色信息列表-start */
.color-item,
.rect-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1e1e1e;
  /* color: #DFE1E5; */
  padding: 6px 8px;
  margin-bottom: 10px;
  font-family: monospace;
  border-radius: 4px;
}

.color-swatch {
  width: 16px;
  height: 16px;
  border: 1px solid #EEEEEE;
  background-color: transparent;
  flex-shrink: 0;
}

.image-item {
  margin: 4px;
  /* padding: 2px; */
  background: #1e1e1e;
  border-radius: 4px;
  flex-shrink: 0;
  /* 防止图片压缩 */
}

.color-item:hover,
.image-item:hover,
.rect-item:hover {
  outline: 1px solid #007bff;
  background-color: rgba(0, 123, 255, 0.1);
  cursor: pointer;
}

.color-item.selected,
.image-item.selected,
.rect-item.selected {
  outline: 1px solid #ffa500;
  /* background-color: rgba(0, 123, 255, 0.1); */
}
/* 右侧颜色信息列表-end */



/* 放大镜样式 */
.magnifier {
  position: absolute;
  border: 1px solid black;
  overflow: hidden;
  display: none;
}

/* 滚动条尺寸 */
#tab-panels::-webkit-scrollbar,
.tab-content::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}


/* 设置滚动条交汇区域的背景颜色 */
::-webkit-scrollbar-corner {
  background: #2e2e2e;
}

/* 滚动条轨道（背景） */
::-webkit-scrollbar-track {
  background: #2e2e2e;
}

/* 滑块（thumb） */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 1px solid #2e2e2e;
}

/* 鼠标悬停时滑块 */
::-webkit-scrollbar-thumb:hover {
  background-color: #676767;
}

/* 弹窗预览容器 */
#preview-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(88, 88, 88, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#preview-modal img {
  min-width: 10%;
  min-height: 10%;
  max-width: 90%;
  max-height: 90%;
  cursor: grab;
}

/* toast */
#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
}

.toast {
  display: flex;
  align-items: center;
  min-width: 240px;
  max-width: 400px;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 13px;
  animation: fadeIn 0.2s ease;
  opacity: 1; 
}

.toast-close,
.tab-close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
  margin-left: auto;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.toast-close .icon,
.tab-close .icon {
  width: 14px;
  height: 14px;
}

.toast-close:hover,
.tab-close:hover {
  background-color: rgba(137, 137, 137, 0.5);
}

.toast-success   { background-color: #107c10; border-left: 4px solid #0e9c13; }
.toast-error     { background-color: #c62828; border-left: 4px solid #e53935; }
.toast-warning   { background-color: #ed6c02; border-left: 4px solid #ff9800; }
.toast-info      { background-color: #2b88d8; border-left: 4px solid #409eff; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateY(10px); }
}


/* 下拉选择框 */
.algorithm-select-group {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6px;
}

.algorithm-select-group label {
  color: #eee;
  font-size: 12px;
  white-space: nowrap;
}

.algorithm-select-group select {
  app-region: no-drag;
  padding: 4px 8px;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 12px;
  border: 1px solid #444;
  border-radius: 4px;
  appearance: none; /* 移除系统默认样式 */
}

.algorithm-select-group select:focus {
  outline: none;
  border-color: #1e90ff;
}


.threshold-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.threshold-group label {
  font-size: 12px;
  color: #eee;
  white-space: nowrap;
}

.threshold-group input[type="number"] {
  app-region: no-drag;
  width: 50px;
  padding: 4px 6px;
  font-size: 12px;
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  appearance: textfield;
}

.threshold-group input[type="number"]::-webkit-inner-spin-button,
.threshold-group input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.threshold-group input[type="number"]:focus {
  outline: none;
  border-color: #1e90ff;
}




#tab-panels.dragover {
  outline: 2px dashed #3f51b5;
  background-color: rgba(63, 81, 181, 0.05);
}

